@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(./fonts/Merriweather-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  background-color: #8ac7db;
  margin: 0;
  list-style: none;
  padding: 15px;
  display: flex;
  justify-content: center;
}

nav button {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: lightblue;
  border: none;
  outline: 1px solid black;
}

header,
main,
footer {
  max-width: 1200px;
  margin: auto;
}

header,
main {
  padding: 20px;
}

main {
  flex: 1;
}

.header-wrap,
.footer-wrap {
  background-color: lightblue;
}

.hero-image {
  position: relative;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: Merriweather, 'Times New Roman', Times, serif;
  text-align: center;
}

.kyle {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
  text-shadow: 1px 1px 2px black;
  z-index: 1;
}

h2 {
  font-size: 2.5rem;
}

.hero-content {
  padding: 30px;
  background-color: white;
}

p {
  color: #444;
  font-size: 1.2rem;
}

.icons {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 20px;
}

.icon {
  height: 30px;
  width: 30px;
}

svg {
  width: 30px;
  color: black;
}

.topH2 {
  margin-top: 0;
}

article {
  box-shadow: 1px 1px 10px #444;
}

.language-list,
.tool-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.languages-and-tools article {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  width: 115px;
  text-align: center;
}

.languages-and-tools img {
  width: 50px;
  height: 50px;
}

.projects {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.project-description {
  display: grid;
  align-items: center;
  padding: 20px;
  grid-template-columns: 1fr max-content;
}

.project-description svg {
  width: 20px;
}

.project-description p {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1rem;
  text-align: start;
}

#contact {
  padding: 30px 50px 30px 50px;
}

.email {
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 10px;
}

footer a {
  color: black;
}

@media (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  .hero-content {
    box-shadow: 1px 1px 10px #444;
  }

  .hero-image {
    max-width: 400px;
  }

  h2 {
    text-align: start;
  }

  header,
  main {
    padding: 50px;
  }

  h3 {
    justify-self: start;
  }

  .languages-and-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  #contact {
    padding: 0;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 30px 50px;
    gap: 50px;
  }

  footer .icons {
    justify-content: start;
  }
}
